body{

  background-color: ##59336;
  color:#555;
  font-family: Arial,Helvetica,sans-serif;
  font-size:20px;
  line-height: 1.6em;
  margin:0;

}
.container{

  width: 80%;
  margin:auto;
  overflow:hidden;
  text-align: center;
  align-items: center;
}
.container a{
  color:red;
  text-decoration: none;
  font-size: 24px;

}
.categories ul{
  padding:0;
  padding-left:20px;
  list-style: square;
  list-style:none;
}
.categories li{
  padding-bottom:6px;
  border-bottom:dotted 1px #333;
  list-style-image: url('../images/check.png');
}



.header{
    text-align: center;
    color: black;
}
.header a{
    text-decoration: none;
    font-size:25px;
    color :green;
}
.button{
  margin-top: 20px;
  background-color: #4F6457; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#table1{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  table-layout: fixed;
 border-collapse: collapse;
 table-layout: auto;
 width: 70%;



}
table#table1{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

#table1 td, #table1 th {
  border: 1px solid #ddd;
  padding: 3px;

}
#table1 td{
 width: 10%
}
#table1 tr:nth-child(even){background-color: #f2f2f2;}

#table1 tr:hover {background-color: #ddd;}

#table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f0810f;
  color: white;
}
#navbar{
  background-color: #333;
  color: #fff;
}
#navbar ul{
  padding:0;
  list-style: none;
}
#navbar li{
  display:inline;
}
#navbar a{
  color:#fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}
#main-header{
  background-color: #1E656D;
  color:#fff;
}
